h1 {
  font-size: 32px;
  color: darkblue;
}

.text {
  font-size: 18px;
}

.highlight {
  color: red;
  display: inline-block;
  width: 110px;
}

.btn {
  width: 120px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  color: white;
  background-color: green;
  text-align: center;
  align-content: center;
}
