body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.box {
    background-color: #ffffff; 
    border: 2px solid #00bfff; 
    padding: 20px; 
    margin: 20px; 
    border-radius: 8px;
    width: 300px;
}

h3 {
    color: #333333; /* Couleur du texte du titre */
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #666666; /* Couleur du texte du paragraphe */
    line-height: 1.6;
}



.box-sizing {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 10px solid #333;
    background-color: #fff;
    box-sizing: content-box; /* Par défaut, toutes les boîtes utilisent content-box */
}

.content-box {
    box-sizing: content-box;
    background-color: #ffdddd;
}

.border-box {
    box-sizing: border-box;
    background-color: #ddffdd;
}



.container-overflow {
    border: 2px solid #000;
    margin: 20px 0;
    padding: 10px;
    width: 300px;
    height: 100px;
    overflow: hidden; /* Par défaut */
}



.container-overflow.hidden  {
    overflow: hidden;
    background-color: yellow;
}

.container-overflow.scroll  {
    overflow: scroll;
    background-color: red;
}

.content {
    width: 400px; /* Plus large que le conteneur pour provoquer le débordement */
    height: 200px; /* Plus haut que le conteneur pour provoquer le débordement */
    background: transparent;
    padding: 10px;
}